html
	head
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")

	
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
			.col-sm-12.col-md-12.col-lg-4.col-xl-3
				img(class="pr-4",src='/images/logo.png',height="50rem")
				#navbarNav.collapse.navbar-collapse
			ul.navbar-nav.col-sm-12.col-md-12.col-lg-6.col-xl-3.d-flex.flex-row.justify-content-center
				li.nav-item
					a.nav-link.pr-4(href='/') Home 
				li.nav-item
					a.nav-link.pr-4(href='/users') Users
				li.nav-item
					a.nav-link.pr-4(href='/products') Products
				li.nav-item
					a.nav-link.pr-4(href='/cart',style='position: relative') Carts
						span(style='position: absolute;width: 1rem; height: 1rem; background-color: red; top:0; right:0; border-radius: 50%; text-align: center; font-size: 0.7rem; color: white; font-weight: bold')=numCarts
					
			if user
				div=user.name
		.container(style = "padding-top : 10rem")
			block content